# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database and logs
*.sqlite3
*.db
*.log

# Environment and virtualenv
.env
env/
venv/

# IDE/editor configs
.idea/
.vscode/
*.swp

# Git
.git/

# Docker
.dockerignore
.docker-compose*

# Static and media files
static/
staticfiles/
media/

# Certbot
certbot/
certbot/conf/
certbot/www/
certbot/wwwcertbot/conf/

# Node modules
node_modules/

# Misc
README.md
init.sql
tests/
