# Django collectstatic output
staticfiles/
mediafiles/

#logs
*.log
logs/*
django.log

# Python cache
__pycache__/
*.py[cod]

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

db.sqlite3

#env files
env/
.env
